/* banner start */

#banner{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    /* background-color: aqua; */
}

#banner .wrapper{
    width: 80%; 
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blanchedalmond; */
}

#banner .wrapper h1{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--fs-40);
    color: var(--tertiory-color);
}

#banner .wrapper .banner_section{
    width: 40%;
    height: 100%;
    /* background-color: blueviolet; */
}

#banner .wrapper .banner_section img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* banner end */

/* article start */

#article{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

#article .wrapper{
    width: 80%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blanchedalmond; */
}

#article .wrapper .book{
    width: 30%;
    height: 100%;
    /* background-color: blueviolet; */
}

#article .wrapper .book img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#article .wrapper .article_section{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: yellowgreen; */
}

#article .wrapper .article_section h1{
    font-size: var(--fs-40);
    color: var(--tertiory-color);
}

#article .wrapper .article_section p{
    width: 70%;
    font-size: var(--fs-18);
    color: var(--fourth-color);
    text-align: center;
}

#article .wrapper .girl_book{
    width: 30%;
    height: 100%;
    /* background-color: rgb(226, 43, 150); */
}

#article .wrapper .girl_book img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* article end */

/* blogs start */

#blogs{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

#blogs .wrapper{
    width: 80%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: blanchedalmond; */
}

#blogs .wrapper h1{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-40);
    color: var(--tertiory-color);
    /* background-color: rgb(197, 127, 255); */
}

#blogs .wrapper .blog_img{
    width: 100%;
    height: 60%;
    /* background-color: rgb(68, 255, 0); */
}

#blogs .wrapper .blog_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
} 

#blogs .wrapper .blog_container{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
}

#blogs .wrapper .blog_container p{
    width: 70%;
    font-size: var(--fs-18);
    color: var(--fourth-color);
    text-align: center;
}

/* blogs end */

/* video start */

#video{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

#video .wrapper{
    width: 80%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blanchedalmond; */
}

#video .wrapper .video_section{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#video .wrapper .video_section h1{
    font-size: var(--fs-40);
    color: var(--tertiory-color);
}

#video .wrapper .video_section p{
    width: 70%;
    font-size: var(--fs-18);
    color: var(--fourth-color);
    text-align: center;
}

#video .wrapper .video_img{
    width: 40%;
    height: 100%;
    /* background-color: blueviolet; */
}

#video .wrapper .video_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* video end */

/* content hub strat */

#content_hub{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

#content_hub .wrapper{
    width: 80%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: blanchedalmond; */
}

#content_hub .wrapper h1{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-40);
    color: var(--tertiory-color);
    /* background-color: blueviolet; */
}

#content_hub .wrapper .content_hub_section{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* background-color: tomato; */
}

#content_hub .wrapper .content_hub_section img{
    background-color: var(--primary-color);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

#content_hub .wrapper .content_hub_section p{
    height: 20%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--fs-18);
    color: var(--tertiory-color);
    /* background-color: rgb(101, 101, 81); */
}

#content_hub .wrapper .content_hub_section .guide{
    width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(67, 39, 34); */
}

#content_hub .wrapper .content_hub_section .guide img{
    width: 100%;
    height: 70%;
    object-fit: contain;
    object-position: bottom ;
}

#content_hub .wrapper .content_hub_section .experience{
    width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(78, 54, 87); */
}

#content_hub .wrapper .content_hub_section .experience img{ 
    width: 100%;
    height: 70%;
    object-fit: contain;
    object-position: bottom ;
}

#content_hub .wrapper .content_hub_section .learn{
    width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(88, 94, 143); */
}

#content_hub .wrapper .content_hub_section .learn img{
    width: 100%;
    height: 70%;
    object-fit: contain;
    object-position: bottom ;
}

/* content hub end */






















@media only screen and (max-width: 1100px){

/* banner start */

#banner .wrapper h1{
    font-size: var(--fs-36);
}

/* banner end */

/* article strat */

#article .wrapper .article_section h1{
    font-size: var(--fs-36);
}

#article .wrapper .article_section p{
    width: 100%;
    font-size: var(--fs-16);
}

/* article end */

/* blogs start */

#blogs .wrapper h1{
    font-size: var(--fs-36);
}

#blogs .wrapper .blog_container p{
    width: 100%;
    font-size: var(--fs-16);
}

/* blogs end */

/* video start */

#video .wrapper .video_section h1{
    font-size: var(--fs-36);
}

#video .wrapper .video_section p{
    width: 100%;
    font-size: var(--fs-16);
}

/* video end */

/* content hub start */

#content_hub .wrapper h1{
    font-size: var(--fs-36);
}

#content_hub .wrapper .content_hub_section p{
    width: 100%;
    font-size: var(--fs-16);
}

/* content hub end */

}


@media only screen and (max-width: 1000px){

/* banner start */

#banner{
    height: auto;
}

#banner .wrapper{
    flex-wrap: wrap-reverse;
}

#banner .wrapper .banner_section{
    width: 80%;
}

#banner .wrapper h1{
    width: 100%;
}

/* banner end */

/* article start */

#article{
    height: auto;
    margin: 20px 0px 10px 0px;
}

#article .wrapper{
    flex-wrap: wrap;
}

#article .wrapper .book{
    width: 60%;
}

#article .wrapper .article_section{
    width: 90%;
}

#article .wrapper .girl_book{
    width: 60%;
}

/* article end */

/* blogs start */

#blogs{
    height: auto;
    margin: 20px 0px 10px 0px;
}

#blogs .wrapper .blog_img{
    width: 60%;
}

/* blogs end */

/* content hub strat */

#content_hub{
    height: auto;
    margin: 20px 0px 10px 0px;
}

#content_hub .wrapper .content_hub_section{
    flex-wrap: wrap;
    gap: 20px;
}

#content_hub .wrapper .content_hub_section .guide, #content_hub .wrapper .content_hub_section .experience, #content_hub .wrapper .content_hub_section .learn{
    width: 50%;
}

/* content hub end */

}

@media only screen and (max-width: 900px){

    /* banner start */

#banner .wrapper h1{
    font-size: var(--fs-30);
}

/* banner end */

/* article strat */

#article .wrapper .article_section h1{
    font-size: var(--fs-30);
}

#article .wrapper .article_section p{
    font-size: var(--fs-14);
}

/* article end */

/* blogs start */

#blogs .wrapper h1{
    font-size: var(--fs-30);
}

#blogs .wrapper .blog_container p{
    font-size: var(--fs-14);
}

/* blogs end */

/* video start */

#video{
    height: auto;
    margin: 20px 0px 10px 0px;
}

#video .wrapper{
    flex-wrap: wrap-reverse;
}

#video .wrapper .video_section{
    width: 80%;
}

#video .wrapper .video_img{
    width: 60%;
}

#video .wrapper .video_section h1{
    font-size: var(--fs-30);
}

#video .wrapper .video_section p{
    font-size: var(--fs-14);
}

/* video end */

/* content hub start */

#content_hub .wrapper h1{
    font-size: var(--fs-30);
}

#content_hub .wrapper .content_hub_section p{
    width: 100%;
    font-size: var(--fs-14);
}

/* content hub end */


}

@media only screen and (max-width: 700px){

    /* banner start */

    #banner .wrapper h1{
        font-size: var(--fs-26);
    }
    
    /* banner end */

    /* article strat */

#article .wrapper .article_section h1{
    font-size: var(--fs-26);
}

/* article end */

/* blogs start */

#blogs .wrapper h1{
    font-size: var(--fs-26);
}

/* blogs end */

/* content hub start */

#content_hub .wrapper .content_hub_section .guide, #content_hub .wrapper .content_hub_section .experience, #content_hub .wrapper .content_hub_section .learn{
    width: 60%;
}

#content_hub .wrapper h1{
    font-size: var(--fs-24);
}

/* content hub end */

    
}

@media only screen and (max-width: 500px){

    /* banner start */

    #banner .wrapper h1{
        font-size: var(--fs-20);
    }
    
    /* banner end */

        /* article strat */

#article .wrapper .article_section h1{
    font-size: var(--fs-20);
}

/* article end */

/* blogs start */

#blogs .wrapper h1{
    font-size: var(--fs-20);
}

/* blogs end */

/* content hub start */

#content_hub .wrapper h1{
    font-size: var(--fs-20);
}
/* content hub end */
    
}
