@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

:root {
  --fs-70: 70px;
  --fs-64: 64px;
  --fs-60: 60px;
  --fs-40: 40px;
  --fs-32: 32px;
  --fs-30: 30px;
  --fs-36: 36px;
  --fs-28: 28px;
  --fs-26: 26px;
  --fs-24: 24px;
  --fs-22: 22px;
  --fs-20: 20px;
  --fs-18: 18px;
  --fs-16: 16px;
  --fs-14: 14px;
  --fs-12: 12px;
  --primary-color: #d3bddb;
  --secondary-color: #ffffff;
  --tertiory-color: #1b1b1b;
  --fourth-color: #4a4a4a;
  --fw-bold: 700px;
  --fw-semibold: 600px;
  --fw-medium: 500px;
  --fw-regular: 400px;
}

.wrapper {
  width: 90%;
  /* background-color: yellow; */
}

/* nav start */
header {
  width: 100%;
  height: 10vh;
  /* background-color: lightcoral; */
}

header nav {
  height: 10vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

header nav .wrapper {
  height: 100%;
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .wrapper ul {
  display: flex;
  list-style: none;
  gap: 20px;
  /* font-size: var(--fs-20); */
}

header nav .wrapper ul li {
  font-size: var(--fs-16);
  padding: 10px;
  background-color: transparent;
  border: 2px solid transparent;
  /* background-color: orange; */
}

header nav .wrapper ul li a {
  text-decoration: none;
  color: var(--tertiory-color);
  padding: 10px;
  font-size: var(--fs-16);
  transition-duration: 0.5s;
}

header nav .wrapper ul li .active {
  padding: 10px 5px;
  border-top: 2px solid var(--tertiory-color);
  border-bottom: 2px solid var(--tertiory-color);
}

header nav .wrapper ul li :hover {
  background-color: var(--tertiory-color);
  border-radius: 15px;
  color: var(--secondary-color);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#nav-btn,
.nav-icon {
  display: none;
}

/* nav end */

/* button start */

.sec_btn {
  padding: 10px;
  background-color: transparent;
  color: var(--tertiory-color);
  border: 2px solid var(--tertiory-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition-duration: 0.5s;
  /* font-size: var(--fs-20); */
}
.sec_btn:hover {
  background-color: var(--tertiory-color);
  color: var(--secondary-color);
}

.btn {
  padding: 5px 10px;
  background-color: var(--tertiory-color);
  color: var(--secondary-color);
  border: 2px solid var(--tertiory-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: var(--fs-18);
  text-decoration: none;
  transition-duration: 0.5s;
}
.btn:hover {
  background-color: var(--secondary-color);
  color: var(--tertiory-color);
  border-color: 2px solid var(--secondary-color);
}

.placeholder{
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
}

/* button end */

/* footer start */

footer {
  height: 50vh;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

footer .footer-wrapper {
  height: 45vh;
  width: 80%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

footer .footer-wrapper .footer-container {
  height: 80%;
  width: 100%;
  /* background-color: var(--secondary-color); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer .footer-wrapper .footer-container .subscribe {
  width: 50%;
  color: var(--tertiory-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-20);
  gap: 20px;
}


footer .footer-wrapper .footer-container .subscribe .foot-img {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px
}

footer .footer-wrapper .footer-container .subscribe .foot-img img {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-wrapper .footer-container .footer-info {
  width: 80%;
  height: 20%;
  /* background-color: ghostwhite; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

footer .footer-wrapper .footer-container .footer-info ul {
  list-style-type: none;
}

footer .footer-wrapper .footer-container .footer-info ul li {

  color: var(--tertiory-color);

}

footer .footer-wrapper .footer-container .footer-info ul li a {

  text-decoration: none;
  color: var(--tertiory-color);
}

footer .footer-wrapper .privacy-policy {
  width: 80%;
  height: 20%;

}

footer .footer-wrapper .privacy-policy ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer-wrapper .privacy-policy ul li {
  list-style-type: none;
}

footer .footer-wrapper .privacy-policy ul li a {
  text-decoration: none;
  color: var(--tertiory-color);
}










@media only screen and (max-width: 1200px) {

}






@media only screen and (max-width: 900px) {
  .nav-icon {
    display: block;
    font-size: 40px;
  }
  header nav {
    width: 100%;
    z-index: 10;
  }

  header nav .wrapper ul {
    position: absolute;
    top: 10vh;
    width: 50%;
    left: -100%;
    height: 70vh;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: var(--primary-color);
    padding: 10px 0px;
    transition-duration: 0.7s;
    z-index: 1;
    box-shadow: 0px 3px 10px 0px;
  }
  header nav .wrapper ul li {
    margin-left: 5%;
  }
  #nav-btn:checked ~ ul {
    left: 0px;
  }
}
