@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

:root {
  --fs-70: 70px;
  --fs-64: 64px;
  --fs-60: 60px;
  --fs-40: 40px;
  --fs-32: 32px;
  --fs-30: 30px;
  --fs-36: 36px;
  --fs-28: 28px;
  --fs-26: 26px;
  --fs-24: 24px;
  --fs-22: 22px;
  --fs-20: 20px;
  --fs-18: 18px;
  --fs-16: 16px;
  --fs-14: 14px;
  --fs-12: 12px;
  --fs-8: 8px;
  --primary-color: #d3bddb;
  --secondary-color: #ffffff;
  --tertiory-color: #1b1b1b;
  --fourth-color: #4a4a4a;
  --fw-bold: 700px;
  --fw-semibold: 600px;
  --fw-medium: 500px;
  --fw-regular: 400px;
}

.wrapper {
  width: 90%;
  /* background-color: yellow; */
}

/* nav start */
header {
  width: 100%;
  height: 10vh;
  /* background-color: lightcoral; */
}

header nav {
  height: 10vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

header nav .wrapper {
  height: 100%;
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .wrapper ul {
  display: flex;
  list-style: none;
  gap: 20px;
  /* font-size: var(--fs-20); */
}

header nav .wrapper ul li {
  font-size: var(--fs-16);
  padding: 10px;
  background-color: transparent;
  border: 2px solid transparent;
  /* background-color: orange; */
}

header nav .wrapper ul li a {
  text-decoration: none;
  color: var(--tertiory-color);
  padding: 10px;
  font-size: var(--fs-16);
  transition-duration: 0.5s;
}

header nav .wrapper ul li .active {
  padding: 10px 5px;
  border-top: 2px solid var(--tertiory-color);
  border-bottom: 2px solid var(--tertiory-color);
}

header nav .wrapper ul li :hover {
  background-color: var(--tertiory-color);
  border-radius: 15px;
  color: var(--secondary-color);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#nav-btn,
.nav-icon {
  display: none;
}

/* nav end */

/* button start */

.sec_btn {
  padding: 10px;
  background-color: transparent;
  color: var(--tertiory-color);
  border: 2px solid var(--tertiory-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition-duration: 0.5s;
  /* font-size: var(--fs-20); */
}
.sec_btn:hover {
  background-color: var(--tertiory-color);
  color: var(--secondary-color);
}

.btn {
  padding: 5px 10px;
  background-color: var(--tertiory-color);
  color: var(--secondary-color);
  border: 2px solid var(--tertiory-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: var(--fs-18);
  text-decoration: none;
  transition-duration: 0.5s;
}
.btn:hover {
  background-color: var(--secondary-color);
  color: var(--tertiory-color);
  border-color: 2px solid var(--secondary-color);
}



/* button end */

/* footer start */

#footer{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--primary-color);
}

#footer .wrapper{
  width: 90%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: wheat; */
}

#footer .wrapper .footer-section{
  width: 100%;
  height: 80%;
  /* background-color: silver; */
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 50px;
}

#footer .wrapper .footer-section .subscribe {
width: 30%;
height: 80%;
/* background-color: slategrey; */
}

#footer .wrapper .footer-section .subscribe .message_feild{
  padding: 10px;
  margin: 10px 0;
  background-color: transparent;
  border: none;
  border: 2px solid black;
  border-radius: 5px;
  /* background-color: sandybrown; */
}

#footer .wrapper .footer-section .link{
  width: 60%;
  height: 80%;
  /* background-color: teal; */
  display: flex;
  align-items: start;
  justify-content: space-around;
}


#footer .wrapper .footer-section .link .footer-column{
  width: 50%;
  height: 50%;
  /* background-color: yellowgreen; */
}

#footer .wrapper .footer-section .link .footer-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#footer .wrapper .footer-section .link .footer-column ul li a {
  text-decoration: none;
  color: var(--tertiory-color);
  font-size: var(--fs-16);
}

#footer .wrapper .footer-section .download-buttons  {
width: 20%;
height: 80%;
display: flex;
align-items: start;
justify-content: start;
flex-direction: column;
}

#footer .wrapper .footer-section .download-buttons img {
  width: 100%;
  height: 100%;
}


#footer .wrapper .policy {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  /* flex-direction: column; */
  /* background-color: skyblue; */
}

#footer .wrapper .policy .footer-bottom{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: brown; */
}

#footer .wrapper .policy .footer-bottom a{
  text-decoration: none;
  color: var(--tertiory-color);
  font-size: var(--fs-16);
}

#footer .wrapper .policy .footer-bottom p{
color: var(--tertiory-color);
font-size: var(--fs-16);
}

/* footer end */









@media (max-width: 1050px) {
  #footer .wrapper .footer-section .link .footer-column ul li a {
    font-size: var(--fs-14);
  }

  #footer .wrapper .footer-section .link{
    width: 70%;
  }

  #footer .wrapper .policy .footer-bottom a{
  
    font-size: var(--fs-14);
  }
  
  #footer .wrapper .policy .footer-bottom p{

  font-size: var(--fs-14);
  }

}


@media (max-width: 850px) {
  #footer{
    height: auto;
    padding: 20px 0px;
  }

  #footer .wrapper .footer-section{
    flex-wrap: wrap;
    gap: none;
  }

  #footer .wrapper .footer-section .subscribe {
    width: 100%;
  }

  #footer .wrapper .footer-section .link{
    flex-wrap: wrap;
    gap: 5px;
  }

  #footer .wrapper .footer-section .link .footer-column{
    width: 100%;
  }

  #footer .wrapper .footer-section .link{
    width: 100%;
  }
  
  #footer .wrapper .footer-section .download-buttons{
    width: 100%;
  }

  #footer .wrapper .footer-section .download-buttons img {
    width: 70%;
    height: 70%;
  }

  #footer .wrapper .policy {
    margin-top: 30px;
  }

  #footer .wrapper .policy .footer-bottom a{
  
    /* font-size: var(--fs-12); */
  }
  
  #footer .wrapper .policy .footer-bottom p{

  /* font-size: var(--fs-12); */
  }
 

}

@media (max-width: 650px) {

  #footer .wrapper .policy .footer-bottom {
    flex-direction: column;
    align-items: start;
  }
  #footer .wrapper .policy .footer-bottom a{
  
    /* font-size: var(--fs-12); */
  }
  
  #footer .wrapper .policy .footer-bottom p{

  /* font-size: var(--fs-12); */
  }

 
}





@media only screen and (max-width: 900px) {
  .nav-icon {
    display: block;
    font-size: 40px;
  }
  header nav {
    width: 100%;
    z-index: 10;
  }

  header nav .wrapper ul {
    position: absolute;
    top: 10vh;
    width: 50%;
    left: -100%;
    height: 70vh;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: #DEC1EA;
    padding: 10px 0px;
    transition-duration: 0.7s;
    z-index: 1;
    /* box-shadow: 0px 3px 10px 0px; */
  }
  header nav .wrapper ul li {
    margin-left: 5%;
  }
  #nav-btn:checked ~ ul {
    left: 0px;
  }
}
