/* banner start */

#banner {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  /* background-color: aqua; */
}

#banner .wrapper {
  width: 80%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: bisque; */
}

#banner .wrapper .banner_img {
  width: 100%;
  height: 80%;
  /* background-color: yellow; */
}

#banner .wrapper .banner_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#banner .wrapper .banner_head {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
}

#banner .wrapper .banner_head h1 {
  width: 60%;
  text-align: center;
  font-size: var(--fs-40);
  color: var(--tertiory-color);
}

/* banner end */

/* our program start */

#our_program {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  /* background-color: yellowgreen; */
}

#our_program .wrapper {
  width: 80%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: aqua; */
}

#our_program .wrapper h1 {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-40);
  color: var(--tertiory-color);
  /* background-color: blueviolet; */
}

#our_program .wrapper .our_program_container {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  /* background-color: tomato; */
}

#our_program .wrapper .our_program_container img {
  background-color: var(--primary-color);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

#our_program .wrapper .our_program_container p {
  height: 20%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--fs-18);
  color: var(--tertiory-color);
  margin: 3px;
  /* background-color: rgb(101, 101, 81); */
}
#our_program .wrapper .our_program_container .hope {
  width: 30%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  /* background-color: rgb(67, 39, 34); */
}

#our_program .wrapper .our_program_container .hope img {
  width: 100%;
  height: 70%;
  object-fit: contain;
  object-position: bottom;
}

#our_program .wrapper .our_program_container .knowledge {
  width: 30%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  /* background-color: rgb(78, 54, 87); */
}

#our_program .wrapper .our_program_container .knowledge img {
  width: 100%;
  height: 70%;
  object-fit: contain;
  object-position: bottom;
}

#our_program .wrapper .our_program_container .wellbeing {
  width: 30%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  /* background-color: rgb(88, 94, 143); */
}

#our_program .wrapper .our_program_container .wellbeing img {
  width: 100%;
  height: 70%;
  object-fit: contain;
  object-position: bottom;
}

/* our program end */

/* awareness start */

#awareness {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  /* background-color: aqua; */
}

#awareness .wrapper {
  width: 80%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blanchedalmond; */
}

#awareness .wrapper .awareness_flower {
  width: 30%;
  height: 100%;
  /* background-color: blueviolet; */
}

#awareness .wrapper .awareness_flower img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#awareness .wrapper .awareness_section {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: yellowgreen; */
}

#awareness .wrapper .awareness_section h1 {
  font-size: var(--fs-40);
  color: var(--tertiory-color);
}

#awareness .wrapper .awareness_section p {
  width: 70%;
  font-size: var(--fs-18);
  color: var(--fourth-color);
  text-align: center;
}

#awareness .wrapper .awareness_leaf {
  width: 30%;
  height: 100%;
  /* background-color: rgb(226, 43, 150); */
}

#awareness .wrapper .awareness_leaf img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* awareness end */

/* workshop stat */

#workshop {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  /* background-color: rgb(7, 35, 35); */
}

#workshop .wrapper {
  width: 80%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blanchedalmond; */
}

#workshop .wrapper .workshop_img {
  width: 40%;
  height: 100%;
  /* background-color: blueviolet; */
}

#workshop .wrapper .workshop_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#workshop .wrapper .workshop_section {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#workshop .wrapper .workshop_section h1 {
  font-size: var(--fs-40);
  color: var(--tertiory-color);
}

#workshop .wrapper .workshop_section p {
  width: 70%;
  font-size: var(--fs-18);
  color: var(--fourth-color);
  text-align: center;
}

/* workshop end */

/* social meet start */

#social_meet {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  /* background-color: rgb(90, 65, 171); */
}

#social_meet .wrapper {
  width: 80%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blanchedalmond; */
}

#social_meet .wrapper .social_img {
  width: 30%;
  height: 100%;
  /* background-color: blueviolet; */
}

#social_meet .wrapper .social_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#social_meet .wrapper .social_meet_section {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: yellowgreen; */
}

#social_meet .wrapper .social_meet_section h1 {
  font-size: var(--fs-40);
  color: var(--tertiory-color);
}

#social_meet .wrapper .social_meet_section p {
  width: 80%;
  font-size: var(--fs-18);
  color: var(--fourth-color);
  text-align: center;
}

#social_meet .wrapper .meet_img {
  width: 30%;
  height: 100%;
  /* background-color: rgb(226, 43, 150); */
}

#social_meet .wrapper .meet_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* social meet end */












@media only screen and (max-width: 1300px) {
  /* our program start */

  #our_program .wrapper .our_program_container p {
    font-size: var(--fs-14);
  }

  /* our program end */
}

@media only screen and (max-width: 1250px) {
  /* banner start */

  #banner .wrapper .banner_img {
    height: 60%;
  }

  #banner .wrapper .banner_head h1 {
    font-size: var(--fs-36);
  }

  /* banner end */

  /* awareness start */

  #awareness .wrapper .awareness_section h1 {
    font-size: var(--fs-36);
  }

  #awareness .wrapper .awareness_section p {
    width: 90%;
    font-size: var(--fs-16);
  }

  /* awareness end */

  /* workshop start */

  #workshop .wrapper .workshop_section h1 {
    font-size: var(--fs-36);
  }

  #workshop .wrapper .workshop_section p {
    font-size: var(--fs-16);
  }

  /* workshop end */

/* social meet start */

#social_meet .wrapper .social_meet_section h1 {
    font-size: var(--fs-36);
}

#social_meet .wrapper .social_meet_section p {
    font-size: var(--fs-16);
}

/* social meet end */


}

@media only screen and (max-width: 1200px) {
  /* our program strat */

  #our_program {
    height: auto;
    margin: 20px 0px 10px 0px;
  }

  #our_program .wrapper .our_program_container {
    flex-wrap: wrap;
    gap: 20px;
  }

  #our_program .wrapper h1 {
    font-size: var(--fs-36);
    margin: 30px;
  }

  /* our program end */
}

@media only screen and (max-width: 1100px) {
  /* our program start */

  #our_program .wrapper .our_program_container .hope,
  #our_program .wrapper .our_program_container .knowledge,
  #our_program .wrapper .our_program_container .wellbeing {
    width: 60%;
  }

  /* our program end */
}

@media only screen and (max-width: 900px) {

  /* banner start */

  #banner {
    height: auto;
  }

  #banner .wrapper .banner_img {
    width: 60%;
  }

  #banner .wrapper .banner_head h1 {
    width: 90%;
    font-size: var(--fs-30);
  }

  /* banner end */

  /* awareness start */

  #awareness {
    height: auto;
    margin: 20px 0px 10px 0px;
  }

  #awareness .wrapper {
    flex-wrap: wrap;
  }

  #awareness .wrapper .awareness_section h1 {
    font-size: var(--fs-30);
  }

  #awareness .wrapper .awareness_flower,
  #awareness .wrapper .awareness_leaf {
    width: 80%;
    height: 80%;
  }

  #awareness .wrapper .awareness_section {
    width: 90%;
    height: 50%;
  }

  /* awareness end */

  /* workshop start */

  #workshop {
    height: auto;
    margin: 20px 0px 10px 0px;
  }

  #workshop .wrapper {
    flex-wrap: wrap-reverse;
  }

  #workshop .wrapper .workshop_section {
    width: 100%;
  }

  #workshop .wrapper .workshop_section h1 {
    font-size: var(--fs-30);
  }

  #workshop .wrapper .workshop_section p {
    width: 100%;
    font-size: var(--fs-14);
    margin-bottom: 25px;
  }

  #workshop .wrapper .workshop_img {
    width: 60%;
  }

  /* workshop end */

  /* social meet start */

  #social_meet {
    height: auto;
    margin: 20px 0px 10px 0px;
  }

  #social_meet .wrapper {
    flex-wrap: wrap-reverse;
  }

  #social_meet .wrapper .social_img {
    width: 60%;
  }

  #social_meet .wrapper .social_meet_section {
    width: 80%;
    margin: 20px 0px;
  }

  #social_meet .wrapper .meet_img {
    display: none;
  }

#social_meet .wrapper .social_meet_section h1 {
    font-size: var(--fs-30);
}

#social_meet .wrapper .social_meet_section p {
    width: 90%;
    font-size: var(--fs-14);
}

/* social meet end */
}

@media only screen and (max-width: 700px) {
  /* banner start */

  #banner .wrapper .banner_head h1 {
    width: 80%;
    font-size: var(--fs-26);
  }

  /* banner end */

  /* our program start */

  #our_program .wrapper .our_program_container .hope,
  #our_program .wrapper .our_program_container .knowledge,
  #our_program .wrapper .our_program_container .wellbeing {
    width: 70%;
  }

  #our_program .wrapper h1 {
    font-size: var(--fs-30);
  }

  /* our program end */
}

@media only screen and (max-width: 500px) {

  /* banner start */

  #banner .wrapper .banner_head h1 {
    font-size: var(--fs-30);
    text-align: center;
  }

  /* banner end */

  /* our program start */

  #our_program .wrapper .our_program_container .hope,
  #our_program .wrapper .our_program_container .knowledge,
  #our_program .wrapper .our_program_container .wellbeing {
    width: 90%;
  }

  #awareness .wrapper .awareness_section p {
    font-size: var(--fs-14);
  }

  /* our program end */
}
